/* ==========================================================================
   HOME PAGE TWEAKS
   ========================================================================== */

.sidebar--home {
  @media screen and (min-width: $sidebar-screen-min-width) {
    position: relative;
    top: auto;
    height: auto;
    max-height: none;
    overflow-y: visible;
    padding-top: 0;
  }
}

.home-page-content {
  .experience-list {
    display: grid;
    gap: 1.25rem;
    margin: 0.5rem 0 2rem;
    padding-left: 1.3em;
  }

  .experience-item {
    padding-left: 0.2rem;
  }

  .experience-item__topline {
    margin-bottom: 0.15rem;

    h3,
    p {
      margin: 0;
    }

    h3 {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
    }

    p {
      font-family: $sans-serif;
      font-size: 1rem;
      white-space: nowrap;
    }
  }

  .experience-item__details {
    p {
      margin-bottom: 0;
    }
  }

  .experience-item__body p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
